<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{TPL_VAR_MESSAGE}</td>
  </tr>
  <tr>
    <td>-------------------------------------------------------------------</td>
  </tr>
  <!-- BEGIN TPL_PRODUCT_BLK -->
  <tr>
    <td>{TPL_VAR_TITLE}  {TPL_VAR_CURRENCY}{TPL_VAR_PRICE}</td>
  </tr>
  <tr>
    <td> <a href="{TPL_VAR_PRODUCTURL}">{TPL_VAR_PRODUCTURL}</a><br><br></td>
  </tr>
    <!-- END TPL_PRODUCT_BLK -->
  <tr>
    <td><br><br><br>DO NOT REPLY TO THIS EMAIL, IT WILL NOT GO TO THE SENDER OF THIS LIST!</td>
  </tr>
  <tr>
   <td>==============================================================================</td>
  </tr>
 <tr>
    <td>This wish list has been sent by {TPL_VAR_SENDERNAME}</td>
  </tr>
  <tr>
 <tr>
    <td>We have not saved any of your information for our use, your privacy is secure.</td>
  </tr>
  <tr>
   <tr>
    <td>Above you will find a list of items that {TPL_VAR_SENDERNAME} has signed
up for.  These items are available at <a href="{TPL_VAR_SITEURL}">{TPL_VAR_SITENAME}</a>.</td>
  </tr>
  <tr>
<tr>
   <td>==============================================================================</td>
  </tr>
</table>