<h2 id="pageTitle">My Account</h2>
<div id="content">
	<script language="JavaScript" type="text/javascript">

        function validateForm(form)
		{

			if(isNull(form.txtpassword.value)){
				alert("Please enter a Password...");
				form.txtpassword.focus();
				return false;
			}else if(form.verify_pw.value!=form.txtpassword.value){
				alert("Your password does not verify. Please retype it.");
				form.verify_pw.focus();
				return false;
			}
			return true;
		}
         //-->
	</script>
	<form class="global-form" name="ThisForm"
action="index.php?action=user.recoversave" method="post"
onsubmit="if(validateForm(this)){return true}else{return false}">
	<fieldset>
		<legend>Customer Password Reset Form</legend>
		<p>All fields marked (<span>*</span>) are required</p>
		<table class="user">
			<tr>
				<td>
					<label for="txtpassword">Password <span>*</span></label>
					<input class="formField" type="password" name="txtpassword" id="txtpassword"  value="{TPL_VAR_PASS}" maxlength="30" />
				</td>
				<td>
					<label for="verify_pw">Confirm Password <span>*</span></label>
					<input class="formField" type="password" name="verify_pw" id="verify_pw" value="{TPL_VAR_CPASS}"  maxlength="30" />
				</td>
			</tr>
		</table>
	</fieldset>
	<input class="formButton" type="submit" name="smtCustomer" id="smtCustomer" value="Process Request" />
</form>
</div>
