<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/SpryAccordion_clickdisabled.js"></script>
<script language="JavaScript" type="text/javascript">
{TPL_VAR_JAVASCRIPTS}
</script>
<div id="Acc1" class="Accordion">
	<div class='AccordionPanel' onclick="this.onclick=null">
		<div class="AccordionPanelTab">
			<h2 id="heading1" class='h2on'><span class='circleon'>1</span> Billing Information<input class="formButton inputoff" type="button" onclick="nextAcc(0,1);" value="Edit" /></h2>
			<span class='jqstatus' id="jqueryStatus1"></span>
		</div>
		<div class="AccordionPanelContent">
      		<div class="colaspContent">
			<form name="form1" id="form1">
			<div><!-- BEGIN TPL_VAT_WELCOMEMSG -->
	<p>{LANG_VAR_IFYOUARENOT} {TPL_VAR_NAME}, <a href="{TPL_VAR_LOGOUTURL}">{LANG_VAR_SIGNINREGMESS}</a></p>
	<!-- END TPL_VAT_WELCOMEMSG -->
	<!-- BEGIN new customer -->
	
	
			<!-- BEGIN TPL_PASSWORD_BLK -->
			<legend>New Customer</legend>
			<p>If you wish to register on our site then please enter an account password. Registration enables you to access the My Account section of  our site to update your details, view your invoice history and status, setup a wish list or signup to our mailing list.</p>
			<p id="customerReg"><a href="{TPL_VAR_SITEURL}ecom/index.php?action=checkout.loginForm">Existing Customer?</a></p>
			<h3>Create a Login</h3>
			<p>Registering with this site is optional - you can complete your purchase without registering with us. However, should you wish to register, just enter a Password and your account will automatically be created for you.</p>
			<table class="user checkouttable">
				<tr>
					<td>
						<label>Password</label>
						<input class="formField" type="password" name="txtpassword" id="txtpassword" value="{TPL_VAR_PASS}" />
					</td>
					<td>
						<label>Confirm Password</label>
						<input class="formField" type="password" name="verify_pw" id="verify_pw" value="" />
					</td>
				</tr>
			</table>
			<!-- END TPL_PASSWORD_BLK -->
			</div>
				<p>{LANG_VAR_ALLFIELDS} (<span>*</span>) {LANG_VAR_REQUIRED}</p>
			<p id="err" class="err">{TPL_VAR_MSG}</p>
			<table class="user checkouttable">
				<tr>
					<td>
						<label>{LANG_VAR_EMAILADDRESS} <span>*</span></label>
						<input class="formField" type="text" name="email" id="email" value="{TPL_VAR_EMAIL}" maxlength="50" {TPL_VAR_READONLY} />
					</td>
					<td>
						<label for="{LANG_VAR_COMPANY}">{LANG_VAR_COMPANY}</label>
						<input class="formField" type="text" name="company" id="company" value="{TPL_VAR_COMPANY}"  maxlength="30" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_FIRSTNAME} <span>*</span></label>
						<input class="formField" type="text" name="first_name" id="first_name" value="{TPL_VAR_FNAME}" maxlength="30" />
					</td>
					<td>
						<label>{LANG_VAR_LASTNAME}<span>*</span></label>
						<input class="formField" type="text" name="last_name" id="last_name" value="{TPL_VAR_LNAME}" maxlength="30" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_ADDRESS1} <span>*</span></label>
						<input class="formField" type="text" name="address1" id="address1" value="{TPL_VAR_ADDRESS1}" maxlength="60" />
					</td>
					<td>
						<label>{LANG_VAR_ADDRESS2}</label>
						<input class="formField" type="text" name="address2" id="address2" value="{TPL_VAR_ADDRESS2}" maxlength="60" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_CITY}<span>*</span></label>
						<input class="formField" type="text" name="city" id="city" value="{TPL_VAR_CITY}" maxlength="30" />
					</td>
					<td>
						<label>{LANG_VAR_COUNTRY} <span>*</span></label>
						<select class="formSelect" id="country" name="bill_country_id" onchange="javascript:setbillstate(this.options[this.selectedIndex].value,2);">
							<!-- BEGIN BillCountry -->
							<option value="{TPL_COUNTRY_VALUE}" {BILL_COUNTRY_SELECT}>{TPL_COUNTRY_NAME}</option>
							<!-- END BillCountry -->
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_COUNTY} <span>*</span></label>
						<select class="formSelect" id="bill_state_id" name="bill_state_id">
							<option></option>
						</select>
					</td>
					<td>
						<label>{LANG_VAR_COUNTYOTHER}</label>
						<input class="formField" type="text" name="bill_state" value="{BILL_STATE}" maxlength="50" size="12" id="bill_state" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_POSTCODE}<span>*</span></label>
						<input class="formField" type="text" name="zip" id="zip" value="{TPL_VAR_ZIP}" maxlength="20" />
					</td>
					<td>
						<label>{LANG_VAR_TELEPHONE}<span>*</span></label>
						<input class="formField" type="text" name="phone" id="phone" value="{TPL_VAR_PHONE}" maxlength="20" />
					</td>
				</tr>
			</table>
			<input class="formButton" type="button" onclick="nextAcc(1);" value="Continue" />
			</form>
			
		</div></div>
	</div>
	<div class='AccordionPanel' onclick="this.onclick=null">
		<div class="AccordionPanelTab">
			<h2 id="heading2" class='h2off'><span class='circleoff'>2</span> Shipping Information<input class="formButton inputoff" type="button" onclick="nextAcc(1,1);" value="Edit" /></h2>
			<span class='jqstatus' id="jqueryStatus2"></span>
		</div>
		<div class="AccordionPanelContent">
      		<div class="colaspContent">
				<form name="form2" id="form2">
				<!-- BEGIN TPL_ALTSHIP_BLK -->
				
				<div id="thediv">
			
				<label for="{LANG_VAR_COMPANY}">{LANG_VAR_COMPANY}</label>
				<input class="formField" type="text" name="alt_company" id="alt_company" value="{TPL_VAR_COMPANY}"  maxlength="30" />
			<table class="checkouttable user">
				<tr>
					<td>
						<label>{LANG_VAR_FIRSTNAME}<span>*</span></label>
						<input class="formField" type="text" name="alt_fName" id="alt_fName" value=" {TPL_VAR_ALTFNAME}" />
					</td>
					<td>
						<label>{LANG_VAR_LASTNAME}<span>*</span></label>
						<input class="formField" type="text" name="alt_lName" id="alt_lName" value=" {TPL_VAR_ALTLNAME}" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_ADDRESS1}<span>*</span></label>
						<input class="formField" type="text" name="alt_address1" id="alt_address1" value="{TPL_VAR_ALTADDR1}" />
					</td>
					<td>
						<label>{LANG_VAR_ADDRESS2}</label>
						<input class="formField" type="text" name="alt_address2" id="alt_address2" value="{TPL_VAR_ALTADDR2}" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_CITY}<span>*</span></label>
						<input class="formField" type="text" name="alt_city" id="alt_city" value="{TPL_VAR_ALTCITY}" />
					</td>
					<td>
						<label>{LANG_VAR_COUNTRY}<span>*</span></label>
						<select class="formSelect" id="ship_country_id" name="ship_country_id"  onchange="javascript:setshipstate(this.options[this.selectedIndex].value,2); sndReq(this.value);">
							<!-- BEGIN ShipCountry -->
							<option value="{TPL_COUNTRY_VALUE}" {SHIP_COUNTRY_SELECT}>{TPL_COUNTRY_NAME}</option>
							<!-- END ShipCountry -->
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_COUNTY}</label>
						<select class="formSelect" id="ship_state_id" name="ship_state_id">
							<option></option>
						</select>
					</td>
					<td>
						<label>{LANG_VAR_COUNTYOTHER}</label>
						<input class="formField" type="text" name="ship_state" value="{SHIP_STATE}" maxlength="50" size="12" id="ship_state" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_POSTCODE} <span>*</span></label>
						<input class="formField" type="text" name="alt_zip" id="alt_zip" value="{TPL_VAR_ALTZIP}" />
					</td>
					<td>
						<label>{LANG_VAR_TELEPHONE} <span>*</span></label>
						<input class="formField" type="text" name="alt_phone" id="alt_phone" value="{TPL_VAR_ALTPHONE}" />
					</td>
				</tr>
			</table></div><p><input type="checkbox" name="alt_ship" id="inp1" value="1" onclick="transfer_acct(this);" class="formCheckbox" >{LANG_VAR_SAMEASBILL}</p>
			<script type='text/javascript'>
				var altship = 1;
			</script>
			<!-- END TPL_ALTSHIP_BLK -->
			<!-- BEGIN TPL_FREEPOST_BLK -->
			<div id="postage">
			<!-- BEGIN TPL_SPECIALRATE_BLK -->
				<h3>Postage Options</h3>
				<p>Default postage method: {TPL_VAR_DEFAULT_POSTAGEMETHOD} {TPL_VAR_CURRENCY}<span id="postageprice">{TPL_VAR_DEFAULT_POSTAGEPRICE}</span></p>
				<h4>Optional Postage Rates</h4>

	           	<!-- BEGIN TPL_DEFAULTPOSTAGE_BLK -->
						<p><input type="radio" name="ship_id" value="0" checked="checked" class="formRadio" />{TPL_VAR_DEFAULT_POSTAGEMETHOD} ({TPL_VAR_CURRENCY}<span id="postagepricedefault">{TPL_VAR_DEFAULT_POSTAGEPRICE}</span>)</p>
	                   <p><input type="hidden" name="ship_method[0]" value="{TPL_VAR_DEFAULT_POSTAGEMETHOD}" /></p>
	                   <p><input type="hidden" name="ship_total[0]" value="{TPL_VAR_DEFAULT_POSTAGEPRICE}" /></p>
				<!-- END TPL_DEFAULTPOSTAGE_BLK -->
			
		        <!-- BEGIN TPL_POSTAGE_BLK -->
	                    <p><input id="ship_id" type="radio" name="ship_id" value="{TPL_VAR_METHODID}" class="formRadio" {TPL_VAR_SELECTED} />{TPL_VAR_POSTAGEMETHOD} {TPL_VAR_CURRENCY}<span id="specialdelivery">{TPL_VAR_DISPLAYPRICE}</span>
							<!-- BEGIN TPL_SPECIALPOSTAGE_BLK -->
								<!-- + -->
								<!--{TPL_VAR_CURRENCY}{TPL_VAR_SPECIAL_POSTAGEPRICE}-->
							<!-- END TPL_SPECIALPOSTAGE_BLK --></p>
	                   	<input type="hidden" name="ship_method[{TPL_VAR_METHODID}]" value="{TPL_VAR_POSTAGEMETHOD}" /><br />
						<input type="hidden" name="ship_total[{TPL_VAR_METHODID}]" value="{TPL_VAR_POSTAGEPRICE}" />
				<!-- END TPL_POSTAGE_BLK -->
			<!-- END TPL_SPECIALRATE_BLK -->
			</div>
			<!-- END TPL_FREEPOST_BLK -->
			<input class="formButton" type="button" onclick="nextAcc(2);" value="Continue" />
			<input type='hidden' name='subtotalatload' value='{TPL_VAR_SUBTOTAL}'/>
			</form>
			</div>
		</div>
	</div>
	<div class='AccordionPanel' onclick="this.onclick=null">
		<div class="AccordionPanelTab">
			<h2 id="heading3" class='h2off'><span  class='circleoff'>3</span> Payment Information<input class="formButton inputoff" type="button" onclick="nextAcc(2);" value="Edit" /></h2>
			<span class='jqstatus' id="jqueryStatus3"></span>
		</div>
		<div class="AccordionPanelContent">
      	<div class="colaspContent">
			<form name="form3" id="form3">
			<p>{TPL_VAR_MSG}</p>
			<!-- BEGIN TPL_CREDITDEBITMAIN_BLK -->
			<!-- BEGIN TPL_CREDITDEBITCARDS_BLK -->
			<h3><input type="radio" class="formRadio" name="paymethod"  value="{TPL_VAR_CC_VALUE}" checked="checked" id="cc" />{LANG_VAR_CREDITDEBIT}</h3>
			<label>{LANG_VAR_SELECTCARDTYPE}</label>
			<select name="cc_type" id="cc_type" class="formSelect">
				<option value="">{LANG_VAR_SELECTCARDTYPE2}</option>
				<!-- BEGIN TPL_CARDS_BLK -->
				<option value="{TPL_VAR_VALUE}">{TPL_VAR_NAME}</option>
			<!-- END TPL_CARDS_BLK -->
			</select>
			<table class="user checkouttable">
				<!-- BEGIN TPL_CARDSTYPE_BLK -->
				<tr>
					<td>
						<label>{LANG_VAR_CARDHOLDERNAME}</label>
						<input type="text" class="formField" name="cardholder_name" id="cardholder_name" />
					</td>
					<!-- END TPL_CARDSTYPE_BLK -->
					<td>
						<label>{LANG_VAR_CREDITDEBITNUM}</label>
						<input type="text" class="formField" name="cc_number" id="cc_number" maxlength="25" size="25" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td>
						<label>{LANG_VAR_EXPIRY}</label>
						<select name="cc_month" id="cc_month" class="formSelectMedium">
							<option value="" selected="selected">{LANG_VAR_MONTH}</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<select name="cc_year" id="cc_year" class="formSelectMedium">
							<option value="" selected='selected'>{LANG_VAR_YEAR}</option>
							<!-- BEGIN TPL_CARDYEAR_BLK -->
							<option value="{TPL_VAR_YEAR}">{TPL_VAR_YEAR}</option>
							<!-- END TPL_CARDYEAR_BLK -->
						</select>
					</td>
					<td>
						<label>CV2 {LANG_VAR_3DIGIT}</label>
						<input type="text" class="formFieldShort" name="cv2" id="cv2" maxlength="5" autocomplete="off" />
						<p id="cv2"><img src="{TPL_VAR_SITEURL}graphics/site/mini_cvv2.gif" alt="CV2 Security Code" title="Last 3 digits on back of card" /></p>
					</td>
				</tr>
			</table>
			
						<!-- BEGIN TPL_SC_STARTDATE_BLK -->
			<input type="hidden" name="CSMerchantID" id="CSMerchantID" value="{TPL_VAR_CSMERCHANTID}" />
			<input type="hidden" name="CSPass" id="CSPass" value="{TPL_VAR_CSPASSWORD}" />
			<input type="hidden" name="CSBaseURL" id="CSBaseURL" value="{TPL_VAR_CSBASEURL}" />
			<input type="hidden" name="CSPort" id="CSPort" value="{TPL_VAR_CSPORT}" />
			<input name="FormMode" type="hidden" value="{TPL_VAR_NEXTFORMMODE}" />
			<table class="user checkouttable">
				<tr>
					<td>
						<label>{LANG_VAR_CS_STARTDATE}</label>
						<select name="cc_start_month" id="cc_start_month" class="formSelectMedium">
							<option value="" selected="selected">{LANG_VAR_CS_MONTH}</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<select name="cc_start_year" id="cc_start_year" height="22" class="formSelectMedium">
							<option value="" selected='selected'>{LANG_VAR_CS_YEAR}</option>
							<!-- BEGIN TPL_CSCARDYEAR_BLK -->
							<option value="{TPL_VAR_CS_YEAR}">{TPL_VAR_CS_YEAR}</option>
							<!-- END TPL_CSCARDYEAR_BLK -->
						</select>
					</td>
					
				</tr>
			</table>
			
			<!-- END TPL_SC_STARTDATE_BLK -->
			<!-- BEGIN TPL_SOLOCARDS_BLK -->
			<h3>Maestro/Switch/Solo {LANG_VAR_ONLY}</h3>
			<table class="user checkouttable">
				<tr>
					<td>
						<label>{LANG_VAR_STARTDATE}</label>
						<select name="cc_start_month" id="cc_start_month" class="formSelectMedium">
							<option value="" selected="selected">{LANG_VAR_MONTH}</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<select name="cc_start_year" id="cc_start_year" height="22" class="formSelectMedium">
							<option value="" selected='selected'>{LANG_VAR_YEAR}</option>
							<!-- BEGIN TPL_SOLOCARDYEAR_BLK -->
							<option value="{TPL_VAR_YEAR}">{TPL_VAR_YEAR}</option>
							<!-- END TPL_SOLOCARDYEAR_BLK -->
						</select>
					</td>
					<td>
						<label><strong>or</strong> {LANG_VAR_ISSUENUMBER}</label>
						<input type="text" class="formFieldShort" name="issuenumber" id="issuenumber" maxlength="2" size="4"/>
					</td>
				</tr>
			</table>
			<!-- END TPL_SOLOCARDS_BLK -->
			<!-- END TPL_CREDITDEBITCARDS_BLK -->
			<!-- BEGIN TPL_CARDBYPHONE_BLK -->
			<h3><input id="cc_phone" type="radio" name="paymethod" class="formRadio" value="cc_phone" />{LANG_VAR_CREDITDEBITPHONE}</h3>
			<p class="note">Call our Sales Team on {TPL_VAR_COMPPHONE} to pay for your order over the telephone.</p>
			<!-- END TPL_CARDBYPHONE_BLK -->	

			<!-- BEGIN TPL_CARDSAVEREDIRECT_BLK -->
            <div class="billShipBlock">
				<h3><input id="csform" type="radio" name="paymethod" class="formRadio" value="cs_redirect" />Pay by Credit/Debit card using CardSave</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/CardSave.gif" alt="Payment Sense Logo." /><br/>You will be taken to the <strong>CardSave</strong> website to make your payment.</p>
			</div>
			<!-- END TPL_CARDSAVEREDIRECT_BLK -->
			
			<!-- END TPL_CREDITDEBITMAIN_BLK -->
			<!-- BEGIN TPL_ECHECK_BLK -->
			<h3><input id="eft" type="radio" name="paymethod" class="formRadio" value="eft" />{LANG_VAR_PAYBY} <abbr title="Electronic Funds Transfer">(EFT)</abbr></h3>
			<table class="user checkouttable">
				<tr>
					<td>
						<label>{LANG_VAR_ACCOUNTNUM}</label>
						<input type="text" class="formField" id="acct" name="acct" maxlength="30" />
					</td>
					<td>
						<label>ABA {LANG_VAR_ACCOUNT}</label>
						<input type="text" class="formField" id="aba" name="aba" maxlength="30" />
					</td>
				</tr>
			</table>
			<!-- END TPL_ECHECK_BLK -->	
			<!-- BEGIN TPL_NOMETHOD_BLK2 -->
			<input type="hidden" id="paymethods" name="paymethods" value='no' />
			<!-- END TPL_NOMETHOD_BLK2 -->
			<!-- BEGIN TPL_OTHER_BLK -->
			<h3><input id="mail_pay" type="radio" name="paymethod" class="formRadio" value="mail" />{LANG_VAR_PAYBYCHEQUE}</h3>
			<p>{LANG_VAR_SENDPAYMENTTO}</p>
			<address>
				<strong>{TPL_VAR_COMPANYCHEQUE}</strong><br />
				{TPL_VAR_ADDRESSCHEQUE}<br />
				{TPL_VAR_CITYCHEQUE}<br />
				{TPL_VAR_STATE}<br />
				{TPL_VAR_ZIPCHEQUE}<br />
				{TPL_VAR_COUNTRY}<br />
			</address>
			<p>{TPL_VAR_VATNUMBER}<br />
			<strong>Company Registration No.: </strong>{TPL_VAR_REGISTERNUMBER}</p>
			<p>{LANG_VAR_CHEQUEPAYMESS}</p>
			<!-- END TPL_OTHER_BLK -->
			<div class="billShipBlock">
				<!-- BEGIN TPL_PAYPAL_BLK -->
				<h3><input id="paypal" type="radio" name="paymethod" class="formRadio" value="{TPL_VAR_PAYPAL_VALUE}" />PayPal and Credit Cards</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/paypal.gif" alt="PayPal Logo." /> You will be taken to the <strong>PayPal</strong> website to make your payment.</p>
				<!-- END TPL_PAYPAL_BLK -->
			</div>
			<div class="billShipBlock">
				<!-- BEGIN TPL_SECPAY_BLK -->
				<h3><input id="secpay" type="radio" name="paymethod" class="formRadio" value="secpay" />SECPay</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/secpay.gif" alt="SecPay Logo." />  You will be taken to the <strong>SecPay</strong> website to make your payment.</p>
				<!-- END TPL_SECPAY_BLK -->
			</div>
			<div class="billShipBlock">
				<!-- BEGIN TPL_WORLDPAY_BLK -->
				<h3><input id="worldpay" type="radio" name="paymethod" class="formRadio" value="worldpay" />WorldPay</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/worldpay.gif" alt="WorldPay Logo." /> You will be taken to the <strong>WorldPay</strong> website to make your payment.</p>
				<!-- END TPL_WORLDPAY_BLK -->
			</div>
			<div class="billShipBlock">
				<!-- BEGIN TPL_HSBC_BLK -->
				<h3><input id="hsbc" type="radio" name="paymethod" class="formRadio" value="hsbc" />HSBC</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/hsbc.gif" alt="HSBC Logo." /> You will be taken to the <strong>HSBC</strong> website to make your payment.</p>
				<!-- END TPL_HSBC_BLK -->	
			</div>
			<div class="billShipBlock">
				<!-- BEGIN TPL_BARCLAY_BLK -->	
				<h3><input id="barclays" type="radio" name="paymethod" class="formRadio" value="barclay" />Barclays</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/barclays.gif" alt="Barclays Logo." /> You will be taken to the <strong>Barclays</strong> website to make your payment.</p>
				<!-- END TPL_BARCLAY_BLK -->	
			</div>
			
			<div class="billShipBlock">
				<!-- BEGIN TPL_STOFF_BLK -->
				<h3><input id="securetrading" type="radio" name="paymethod" class="formRadio" value="securetrading" />SecureTrading</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/securetrading.jpg" alt="SECURETRADING Verified" /> You will be taken to the <strong>SecureTrading</strong> website to make your payment.</p>
				<!-- END TPL_STOFF_BLK -->
			</div>
				<!-- (BEGIN) SAGEPAY INTEGRATION -->
            <div class="billShipBlock">
				<!-- BEGIN TPL_SAGEPAYFORM_BLK -->
				<h3><input id="sagepayform" type="radio" name="paymethod" class="formRadio" value="sagepayform" />Pay by Credit/Debit card using Sagepay</h3>
				<p><img class="paymentGateway" src="{TPL_VAR_SITEURL}/graphics/Sagepay.gif" alt="Sagepay Logo." /> You will be taken to the <strong>Sagepay</strong> website to make your payment.</p>
				<!-- END TPL_SAGEPAYFORM_BLK -->
			</div>
			<!-- (END) SAGEPAY INTEGRATION -->
			
			<!-- BEGIN TPL_COD_BLK -->	
			<h3><input id="cod" type="radio" name="paymethod" class="formRadio" value="cod" />{LANG_VAR_CASHONDELMESS} {TPL_VAR_CURRENCY}{TPL_VAR_CODPRICE}</h3>
			<input type='hidden' name='codprice' value='{TPL_VAR_CODPRICE}' />
					
			<!-- END TPL_COD_BLK -->	
		<div class="fo_discounts">	
			<input type="hidden" class="formField" id="discount" name="discount" maxlength="30" value="{TPL_VAR_DISCOUNT_VALUE}"/>
			<!--<label>{LANG_VAR_DISCCERTTXT}</label>-->
			<input type="hidden" class="formField" id="giftcert" name="giftcert" maxlength="30" value="{TPL_VAR_GIFTCERT_VALUE}"/>
			<!-- BEGIN TPL_MPOINTS_BLK -->
			<h3>{LANG_VAR_YOURPOINTS}</h3>
			<p>{LANG_VAR_YOUHAVE} <a href="{TPL_VAR_SITEURL}memberpoints/">{TPL_VAR_MPOINTS} {LANG_VAR_ACCUMULATED}</a> {LANG_VAR_INHISTORY}</p>
			<h3>{LANG_VAR_WOULDYOU}</h3>
			<label for="memberpoints" class="labelCheckbox">{LANG_VAR_YES}</label>
			{TPL_VAR_MEMPOINTS}
			<!-- END TPL_MPOINTS_BLK -->
		</div>	
			<div class="module1">
				<h3>Comments and Notes</h3><br />
				<label>{LANG_VAR_SPECIALREQ}</label>
				<textarea class="formField comments" id="comments" name="comments" rows="8" cols="35" onfocus="this.select()"></textarea>
			</div>
			<!-- BEGIN TPL_NEWSLETTER_BLK -->
			<div class="module2">
				<h3>{LANG_VAR_SIGNUPNEWS}</h3>
				<label>Which newsletter format would you prefer?</label>
				<select class="formSelect" name="mail_list">
					<option id="html_mail" value="1">HTML {LANG_VAR_EMAILTXT}</option>
					<option id="txt_mail" value="2">{LANG_VAR_PLAINEMAILTXT}</option>
					<option id="not_sure" value="2">{LANG_VAR_NOTSURETXT}</option>
					<option id="no_mail" value="0">{LANG_VAR_NOTHANKSTXT}</option>
				</select>
			</div>
			<!-- END TPL_NEWSLETTER_BLK -->
			<h2>Place Order</h2>
			<p class="note">The next step allows you to review your order before it's processed</p>
			<p><input id="terms_agree" type="checkbox" class="formCheckbox" name="terms_agree" value="1" />{LANG_VAR_IAGREE} <a href="{TPL_VAR_SITEURL}terms/" target="_blank">{LANG_VAR_TERMSCONDITIONS}</a>.</p>
			<input class="formButton" type="button" onclick="nextAcc(3);" value="Continue" />
			{TPL_VAR_DISCOUNTCODE}{TPL_VAR_GIFTCERTCODE}
			</form>
		</div>
		</div>
	</div>
	<div class='AccordionPanel' onclick="this.onclick=null">
		<div class="AccordionPanelTab">
			<h2 id="heading4" class='h2off'><span  class='circleoff'>4</span> Order Review</h2>
			<span class='jqstatus' id="jqueryStatus4"></span>
		</div>
		<div class="AccordionPanelContent">
      		<div class="colaspContent">
			
				<div id='paymentMethod'>Loading... Click <a href='{TPL_VAR_SITEURL}ecom/index.php?action=checkout.reviewit'>here</a> if this doesn't change.</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var acc1 = new Spry.Widget.Accordion("Acc1", { useFixedPanelHeights: false, defaultPanel: 0 });
</script><br style="clear:both;"/>