<br />
PRODUCT ENQUIRY FOR : {TPL_VAR_PRODUCTNAME} - ({TPL_VAR_SKU})
<br />
================================================================
<br />						
Product Reference page
<br />
<a href="{TPL_VAR_PRODUCTURL}">{TPL_VAR_PRODUCTURL}</a>
<br />
================================================================		
<table width="70%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			Posted by:
		</td>
	</tr>
	<tr>
		<td width="25%">Name:</td>
		<td>{TPL_VAR_NAME}</td>
	</tr>
	<tr>
		<td>Address:</td>
		<td>{TPL_VAR_ADDRESS1}<br />{TPL_VAR_ADDRESS2}</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>{TPL_VAR_PHONE}</td>
	</tr>
	<tr>
		<td>Country:</td>
		<td>{TPL_VAR_COUNTRY}</td>
	</tr>
	<tr>
		<td>Comments:</td>
		<td>{TPL_VAR_COMMENTS}</td>
	</tr>
</table>