<form name="frm_hsbc" method="post" action="https://www.cpi.hsbc.com/servlet">
	<input type="text" name="StorefrontId" value="{TPL_VAR_STOREFRONTID}">
	<input type="text" name="OrderHash" value="{TPL_VAR_ORDERHASH}">
	<input type="text" name="TransactionType" value="{TPL_VAR_TYPE}">
	<input type="text" name="CpiDirectResultUrl" value="{TPL_VAR_CpiDirectResultUrl}">
	<input type="text" name="CpiReturnUrl" value="{CpiReturnUrl}">
	<input type="text" name="PurchaseAmount" value="{TPL_VAR_GRANDTOTAL}">
	<input type="text" name="PurchaseCurrency" value="{TPL_VAR_PAYCURRENCY}">
	<input type="text" name="OrderId" value="{TPL_VAR_ITEMNUMBER}">
	<input type="text" name="UserId" value="{TPL_VAR_USERID}">
	<input type="text" name="OrderDesc" value="{TPL_VAR_ORDER_DESC}">
	<input type="text" name="TimeStamp" value="{TPL_VAR_TIMESTAMP}">
	<input type="text" name="BillingAddress1" value="{TPL_VAR_ADDRESS1}">
	<input type="text" name="BillingCity" value="{TPL_VAR_CITY}">
	<input type="text" name="BillingCountry" value="{TPL_VAR_BILLCOUNTRY}">
	<input type="text" name="BillingFirstName" value="{TPL_VAR_FIRSTNAME}">
	<input type="text" name="BillingLastName" value="{TPL_VAR_LASTNAME}">
	<input type="text" name="BillingPostal" value="{TPL_VAR_ZIP}">
	<input type="text" name="ShopperEmail" value="{TPL_VAR_EMAIL}">
	<input type="text" name="ShippingAddress1" value="{TPL_VAR_ALTADDR1}">
	<input type="text" name="ShippingCity" value="{TPL_VAR_ALTCITY}">
	<input type="text" name="ShippingCountry" value="{TPL_VAR_SHIPCOUNTRY}">
	<input type="text" name="ShippingLastName" value="{TPL_VAR_LASTNAME}">
	<input type="text" name="ShippingPostal" value="{TPL_VAR_ALTZIP}">
	<input type="text" name="ShippingFirstName" value="{TPL_VAR_ALTNAME}">
	<input type="text" name="Mode" value="{TPL_VAR_MODE}">
	<input type="submit" />
</form>
<script language="JavaScript">
	//	document.frm_hsbc.submit();
</script>