<div class="pagination">	
	<p>
		<!-- BEGIN first -->
		<a href="{FLINK}" id="firstPage">First</a>
		<!-- END first -->
		<!-- BEGIN prev -->
		<a href="{prevLink}" id="prevPage">Prev</a>
		<!-- END prev -->
		<!-- BEGIN prevsets -->
		<a href="{prevSetLink}" id="prevSet">...</a>
		<!-- END prevsets -->
		<!-- BEGIN pagelist -->
		<a href="{pageLink}" id="pageNumber" class="{sel}"> {dspPage} </a>
		<!-- END pagelist -->
		<!-- BEGIN nextsets -->
		<a href="{nextSetLink}" id="nextSet">...</a>
		<!-- END nextsets -->	
		<!-- BEGIN next --> 
		<a href="{nextLink}" id="nextPage">Next</a>
		<!-- END next -->
		<!-- BEGIN last --> 
		<a href="{LastLink}" id="lastPage">Last</a>
		<!-- END last -->
	</p>
	<p class="summary">{itemtotal} Products</p>
	<p class="current">Page {pageNo} of {totalPages}</p>
</div>
