<!-- BEGIN TPL_ENQUIRE_BLK -->
<h2 id="pageTitle">Message Sent</h2>	
<div id="content">
	<p>Thank you for posting your comments. We will get back to you as soon as we can.</p>
	<p>Please return to the <a href="{TPL_VAR_SITEURL}">home page</a> to continue browsing our site.</p>
</div>
<!-- END TPL_ENQUIRE_BLK -->


<!-- BEGIN TPL_NEWSLETTER_BLK -->
<h2 id="pageTitle">{TPL_VAR_MESSAGE}</h2>	
<div id="content">
	<p>Please return to the <a href="{TPL_VAR_SITEURL}">home page</a> to continue browsing our site.</p>
</div>
<!-- END TPL_NEWSLETTER_BLK -->