<h2 id="pageTitle">Backordering</h2>
<div id="content">
	<p>You have <strong>{TPL_VAR_QTY}</strong> items in your backorder cart.</p>	
	<p>Some of the items in your shopping cart are on backorder.  This gives you an opportunity to "split" your shopping cart into two orders, one is for items in stock and can ship immediately and the other to place on backorder and ship complete when all items are in stock.</p>
	<p>If you wish to place the whole order on back order, click the <a href="{TPL_VAR_ALLITEM}">Backorder All</a> link and you can proceed with your order, if you wish to split your item into the backorder basket, click the <a href="{TPL_VAR_ALLITEM}">Backorder Item</a> link, or you can just "Remove" the backordered item.</p>
    <h2>What do you want to do?</h2>
	<ol>
		<li><a href="{TPL_VAR_ALLITEM}" class="cartLink">Backorder All</a><br />
		Place order and wait for all items to be instock (nothing changes).</li>		
		<li><a href="{TPL_VAR_BACKITEM}">Backorder Item</a><br />
		Place item in your backorder basket and proceed with rest of order.</li>
		<li><a href="{TPL_VAR_REMOVEURL}">Remove Item</a><br />
		Remove selected backordered item from basket.</li>
	</ol>
</div>