<h2 id="pageTitle">Order Processed - Complete</h2> 												
<div id="content"> 
	<!-- BEGIN TPL_ORDERSTATUS_BLK -->
	<p>Thank you, your order has been placed successfully.</p>
	<p><a href="{TPL_VAR_RECIEPTURL}" class="cartLink">View your receipt</a></p>
	<!-- END TPL_ORDERSTATUS_BLK -->
	<!-- BEGIN TPL_BACKORDER_BLK -->
	<p>You have items that are on backorder still in your shopping cart.</p>
	<p>Click the link below to place your backorder on order.</p>
	<p><a href="{TPL_VAR_BACKORDERURL}" class="cartLink">Place Backorder</a></p>
	<!-- END TPL_BACKORDER_BLK -->
</div>