<h2 id="pageTitle">Gift wrapping</h2>	
<div id="content">
	<p class="message">{TPL_VAR_MSG}</p>
	<p>Return to your <a href="{TPL_VAR_CARTURL}">shopping basket</a>.</p>
	<!-- BEGIN TPL_GIFTWRAP_BLK -->
	<p>{TPL_VAR_TITLE}</p>
	{TPL_VAR_IMAGE}
	<!-- BEGIN TPL_LARGEIMG_BLK -->
	<p><a href="{TPL_VAR_LARGEIMGLINK}" >View Larger Image</a></p>
	<!-- END TPL_LARGEIMG_BLK --> 
	<p>{TPL_VAR_DESCRIPTION}</p>
	<p>{TPL_VAR_CURRENCY}{TPL_VAR_PRICE}<br />
	<a href="{TPL_VAR_ADDURL}">Choose This</a></p>
	<!-- END TPL_GIFTWRAP_BLK -->
</div>